@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import "./Color.module.scss";
*{
    box-sizing: border-box;
}
html,
body{
    margin:0;
    padding:0;
    font-family: 'Libre Baskerville', serif;
    background-color: $backgroundColor;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top:var(--scroll-padding, 50px);
}
@mixin spinnerWrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $backgroundColor;
    z-index: 100;
}
.spinnerWrapper{
    @include spinnerWrapper;
    .spinner{
        display: inline-block;
        width: 80px;
        height: 80px;
        &::after{
            content: "";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            -webkit-border-radius:50%;
            -moz-border-radius:50%;
            border-radius: 50%;
            border: 6px solid #fff;
            border-color: $purple transparent $purple transparent;
            -webkit-animation:rotation .5s infinite linear;
            -moz-animation:rotation .5s infinite linear;
            animation: rotation 1.2s linear infinite;
        }
    }
}

@-webkit-keyframes rotation{
    from{-webkit-transform: rotate(0deg);}
    to{-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation{
    from{-moz-transform: rotate(0deg);}
    to{-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation{
    from{-o-transform: rotate(0deg);}
    to{-o-transform: rotate(359deg);}
}
@keyframes rotation{
    from{transform: rotate(0deg);}
    to{transform: rotate(359deg);}
}




// ipads & tablets
@media screen  and  (min-width:768px) {
    .Home .comingSoonContainer input{
        max-width: 30%;
    }
    .Nav{
        .links{
            display: flex;
            flex-direction: row;
            margin: 0;
            height: unset;
            justify-content: space-around;
            width: 30%;
        }
        .mobileMenu{
            display: none;
        }
    }
    .Menu {
        .filterMenu{
            width: 35%;
        }
        .container .items .item{
            margin: 0 2.5rem;
        }
    }
}

@media screen and (min-width:1440px) {

    .Nav, .Menu, .Location .map{
        width: 100%;
        max-width: 1024px;
        margin: auto;
    }
    .Menu .container .items .item{
        margin: 0;
        width: 100%;
        .description{
            max-width: 40%;
        }
    }
}
