@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}
$backgroundColor:#16161a;
$HeadLineColor:#fffffe;
$fontColor:#94a1b2;
$stroke:#010101;
body{
    background-color: $backgroundColor;
}
// Phone Ready
.Nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin:1rem 1.5rem;
    font-size: 1.5rem;
    align-items: center;
    a{
        text-decoration: none;
        color: $HeadLineColor;
    }
    .links{
        display: none;
        flex-direction: column;
        background-color: $backgroundColor;
        height: 100vh;
        text-align: center;
        margin: 5rem 0;
        margin-right: 3rem;
        a{
            text-decoration: none;
            color: $HeadLineColor;
            margin: 2rem 0;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
    .mobileMenu{
        color: $HeadLineColor;
    }
}
.Menu{
    // height: 100vh;
    .title{
        font-size: 1.5rem;
        text-align: center;
        margin: 3rem 0;
        color: $HeadLineColor;
    }
    .filterMenu{
        display: flex;
        justify-content: space-around;
        width: 70%;
        margin: 0 auto;
        font-size: 1rem;
        margin-bottom: 2rem;
        color: $fontColor;
        text-transform: capitalize;
        cursor: pointer;
        .active{
            border-bottom: 3px solid #7f5af0;
        }
        
    }
    .container{
        .items{
            .item{
                display: flex;
                margin: 1rem auto;
                line-height: 1.18rem;
                color: $fontColor;
                width: 90%;
                justify-content: space-around;
                flex-direction: column;
                .titleAndPrice{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    color: $HeadLineColor;
                    font-size: 1rem;
                    font-weight: 400;
                    .name{
                        max-width: 75%;
                        text-transform: capitalize;
                    }
                }
                .description{
                    color: $fontColor;
                    font-size: .81rem;
                    max-width: 80%;
                    margin: .75rem 0;
                    font-weight: 100;
                }
            }
        }
    }

}
.Location{
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    .container{
        text-align: center;
        color: $fontColor;
        .address{
            margin: 1.5rem;
            font-size: 1rem;
        }
        .hours-open{
            .days, .phone{
                font-size: 1rem;
            }
            .phone{
                margin: 1rem 0;
            }
            .hours{
                margin: .5rem 0;
                font-size: .75rem;
            }
        }
    }
    .map{
        width: 90%;
        height: 50%;
        margin: 0 auto;
        iframe{
            width: 100%;
        }
    }
}
.Home{
    height: 100vh;
    .comingSoonContainer{
        display: flex;
        flex-direction: column;
        height: 80%;
        margin: auto;
        justify-content: center;
        h1{
            height: 39px;
            font-style: normal;
            font-weight: 400;
            font-size: 2rem;
            line-height: 39px;
            align-items: center;
            text-align: center;
            color: #FFFFFE;
        }
        h4{
            height: 64px;
            max-width: 70%;
            margin: 0 auto;
            font-weight: 400;
            font-size: .875rem;
            line-height: 17px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #94A1B2; 
        }
        a{
            text-align: center;
            text-decoration: none;
            input{
                -webkit-appearance: button;
                -moz-appearance: button;
                background:#7f5af0 ;
                color: $HeadLineColor;
                text-transform: capitalize;
                padding: 1.2rem 2rem;
                margin: 1rem 0;
                font-size: 1rem;
                border: none;
                -webkit-border-radius:5px;
                -moz-border-radius:5px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    
}

// ipads & tablets 
@media screen  and  (min-width:768px) {
    .Nav{
        .links{
            display: flex;
            flex-direction: row;
            margin: 0;
            height: unset;
            justify-content: space-around;
            width: 30%;
        }
        .mobileMenu{
            display: none;
        }
    }
    .Menu {
        .filterMenu{
            width: 35%;
        }
        .container .items .item{
            margin: 0 2.5rem;
        }
    }
}

@media screen and (min-width:1440px) {
    .Nav, .Menu, .Location .map{
        width: 100%;
        max-width: 1024px;
        margin: auto;
    }
    .Menu .container .items .item{
        margin: 0;
        width: 100%;
        .description{
            max-width: 40%;
        }
    }
}
